{% extends 'base.html' %}



{% block title %}
    Hello {{ current_instructor.username }}
{% endblock %}



{% block content %}

    <p style="text-align: center;"> welcome instructor: {{ current_instructor.username }}</p>

    {% if not instances %}
        <div> No instance here, please create one first</div>

    {% else %}
        <ul style="display: flex;
        justify-content: center;
        align-items: center;" class="list-group">
            {% for instance in instances %}
                <li style="margin-bottom: 1vw;">
                    <a href="{{ instance.get_absolute_url }}"> Instance Name : {{ instance.instance_name }} </a>
                    <a style="margin-left: 2vw;" class="btn btn-danger" role="button" href="{% url 'iGroup:delete' slug=instance.slug %}">
                        Delete </a>
                </li>

            {% endfor %}
        </ul>
    {% endif %}
   <p style="text-align: center;"><a href="{% url 'iGroup:create' %}">create more instances</a></p> 

{% endblock %}
