{% extends 'base.html' %}

{% block title%}
This is the iGroup system
{% endblock %}

{%block content%}
    <p> welcome instructor: {{ current_instructor.username }}</p>
    {% if not instances %}
    <div> No instance here, please create one first</div>
    {% else %}

    {% for instance in instances%}
        <li><a href="{{ instance.get_absolute_url }}"> instance name : {{ instance.instance_name }} </a></li>

    {% endfor %}
    {% endif %}
      <a href="{% url 'iGroup:create' %}">create an instance</a>
{% endblock %}
