{% extends 'base.html' %}




{% block title %}
    Hello {{ current_instructor.username }}
{% endblock %}



{% block content %}

    <p> welcome instructor: {{ current_instructor.username }}</p>

    {% if not instances %}
        <div> No instance here, please create one first</div>

    {% else %}
        <ul class="list-group">
            {% for instance in instances %}
                <li>
                    <a href="{{ instance.get_absolute_url }}"> Instance Name : {{ instance.instance_name }} </a>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                        Delete this instance
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure to delete this instance ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <a class="btn btn-danger" role="button"
                                       href="{% url 'iGroup:delete' slug=instance.slug %}">
                                        Delete </a>
                                </div>
                            </div>
                        </div>
                    </div>


                </li>

            {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'iGroup:create' %}">create more instances</a>

{% endblock %}
