{% extends 'base.html' %}

{% block title %}
    instance detail page
{% endblock %}

{% block content %}
    {{ instance.instance_name }}
    {{ instance.instructor.username }}
    {% if not instance.survey %}
        <a href="{% url 'survey:create_survey' instance_slug=instance.slug %}">create a survey to start the
            allocation</a>
    {% else %}
        <a href="{% url 'survey:survey_index' survey_id=instance.survey.survey_id %}">edit survey</a>
        <a href="{% url 'iGroup:config' slug=instance.slug %}">click to start the config</a>
        <a href="{% url 'survey:survey_answer' survey_id=instance.survey.survey_id %}"> to answer link </a>
    {% endif %}
{% endblock %}
