{% extends 'base.html' %}

{% block title %}
    instance detail page
{% endblock %}


{% block content %}

    {% if messages %}
        <ul id="error_popup" class="messages">
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <p>{{ message }}</p>
                    <button id="close_error_popup">Close</button>
                </div>
            {% endfor %}
        </ul>
    {% endif %}

    {{ instance.instance_name }}
    {{ instance.instructor.username }}
    {% if not instance.survey %}
        <a href="{% url 'survey:create_survey' instance_slug=instance.slug %}">create a survey to start the
            allocation</a>
    {% else %}
        <li>
            <a href="{% url 'survey:survey_index' survey_id=instance.survey.survey_id %}">edit survey</a>
        </li>
        <li>
            <a href="{% url 'iGroup:config' slug=instance.slug %}">click to start the config</a>
        </li>
        <li>
            <a href="{% url 'survey:send_survey' survey_id=instance.survey.survey_id %}"> lock survey </a>
        </li>
        <li>
            <a></a>
        </li>

        <a href="{% url 'survey:student_list' survey_id=instance.survey.survey_id %}"> view student status </a>
        <section>
            <div>{% include 'survey/upload/upload_answers_csv.html' with survey_obj=instance.survey %}</div>
        </section>

        <div>
            <a href="{% url 'iGroup:list_config' slug=instance.slug %}"> see all configurations</a>
        </div>

    {% endif %}

    <script>

        let popupError = document.getElementById("error_popup")
        let closePopupError = document.getElementById("close_error_popup")
        popupError.addEventListener('load', () => {
            popupError.style.display = "block";
        })

        closePopupError.addEventListener('click', () => {
            popupError.style.display = "none";
        })
    </script>
{% endblock %}
