{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- <div>question form</div> -->
    <form method="post" style="padding: 1vw 5vw;" action="{{ request.path }}">
        {% csrf_token %}
        <div>
            <h1>Edit question</h1>
        </div>
        <div style="margin-bottom: 2vw;">
            {{ question_form | crispy }}
        </div>
        {% if survey_obj.modify %}
        <button type="submit" style="margin-bottom: 1vw;">save this question</button>
        {% endif %}
        <a type="button" class="btn btn-primary btn-sm"
           href="{% url 'survey:survey_index' survey_id=survey_obj.survey_id %}"
           style="background-color: #068df5;
           color: white;
           padding: 14px 20px;
           margin: 8px 0;
           border: none;
           cursor: pointer;
           width: 100%;
           margin-bottom: 1vw;">back to survey</a>

    </form>

    {% if question_obj %}
        <div style="padding: 0vw 5vw;color: red;">*already exist</div>

    {% endif %}


{% endblock %}