{% extends 'base.html' %}
<!-- only show after create survey -->
{% block content %}
    <table class="table">
        <tbody hx-get="{% url 'survey:question_list' survey_id=survey_obj.survey_id %}" hx-trigger="load">
        <tr>
            <td>Loading...</td>
        </tr>
        </tbody>
    </table>
    <a href="{% url 'survey:add_question' survey_id=survey_obj.survey_id %}">Add question</a>

    <a class='btn btn-primary btn-sm'
       href="{% url 'iGroup:detail' slug=survey_obj.instance.slug %}">back
        to instance</a>

    {% include 'survey/upload/upload_questions_csv.html'%}



{% endblock %}