.menu-content{
    padding: 2vw;
}
.menu-content .row{
    margin-top: 4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
}
.menu-content .row table{
    border: 1px solid #c7c6c6;
    border-radius: 1vw;
    padding: 2vw;
    width: 69%;
}
.menu-content .row table tr:nth-child(1){
    margin-bottom: 1vw;
    display: block;
}
.menu-content .row table tr:nth-child(1) th{
    width: 14%;
}
.menu-content .row table tr{
    margin-bottom: 1vw;
    display: block;
}
.menu-content .row table tr td{
    width: 14%;
    text-align: center;
}
.menu-content .row table tr td img{
    width: 3vw;
    position: relative;
    top: 1vw;
}
.menu-content .row table .buttonBox{
    margin-top: 6vw;
}
.menu-content .row .buttonBox input{
    margin-left: 8vw;
    cursor: pointer;
    border-radius: 2vw;
    border: none;
    background: #4f97f3;
    height: 8vh;
    width: 30%;
    color: white;
    font-size: large;
}