<!--add option and list all option -->
{% extends 'base.html' %}
{% block content %}
    <h1>all options</h1>
    <h2> by order</h2>
    <section id="option-list" class="col-12">
        {% if option_set %}
            {% csrf_token %}
            <form class="sortable list-group" hx-trigger="end"
                  hx-post="{% url 'survey:option_sort' question_id=question_obj.question_id %}"
                  hx-target="#option-list">
                <div class="htmx-indicator">Updating...</div>
                {% for option in option_set %}
                    <div>
                        <input type="hidden" name="option_order" value="{{ option.pk }}"/>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ option.choice_name }}


                        </li>

                    </div>
                {% endfor %}
            </form>
        {% else %}
            no options yet please create one
        {% endif %}


    </section>
{% endblock %}