<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iGroup Register</title>
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,600,700&display=swap">
    <title>{% block title %}WEB{% endblock %}</title>
</head>



<body>
    <section class="sub-header">
        <nav>
            <a href="base.html"><img src="{% static 'web/images/logo_2.png' %}"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-close" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="welcome.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="registration/register.html">Register</a></li>
                    <li><a href="blog.html">BLOG</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
            <h1>Let's sign you up</h1>
    </section>



  <main>
    {% block content %}
    {% endblock %}
  </main>




  <section class="footer">
        <h4>About Us</h4>

        <div class="icons">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>

        </div>
</body>
</html>