.menu-content{
    padding: 2vw;
}
.menu-content .LogoutBox{
    text-align: right;
}
.menu-content .LogoutBox input{
    border: none;
    background: red;
    border-radius: 3vw;
    padding: 0.5vw 2vw;
    cursor: pointer;
}
.menu-content .row{
    margin-top: 4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.menu-content .row p{
    width: 40%;
    margin-bottom: 2vw;
}
.menu-content .row .col-2{

}
.menu-content .row .col-2 input{
    cursor: pointer;
    border-radius: 2vw;
    border: none;
    background: #4f97f3;
    height: 7vh;
    width: 40%;
}
.menu-content .row .col-2 input:nth-child(1){
    margin-right: 18%;
}
.menu-content .row .col-4{

}
.menu-content .row .col-4 input{
    width: 100%;
    height: 7vh;
    cursor: pointer;
    border-radius: 2vw;
    border: none;
    background: #4f97f3;
}
